<% content_for :title do %>Dashboard<% end %>

<div class="gridster">
  <ul>
    <!-- counts -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="types-counts" data-view="List" data-unordered="true" data-title="Counts"></div>
    </li>

    <!-- es metrics -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="es-version" data-view="Text" data-title="Elastic Version"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="es-store-size" data-view="Text" data-title="Doc Store Size"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="es-index-rate" data-view="Meter" data-title="Indexing Rate" data-min="0" data-max="9000"></div>
    </li>

  </ul>
</div>
